* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color:#EFEDEB;
  }

  /*Website header - navigation*/
  .header {
    display: flex;
    background-color: #32CBFF;
    padding-bottom: 10px;
  }

  .header a {
    text-decoration: none;
    background-color: transparent;
    color: #4F3A5A;
    padding-right: 35px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    align-self: center;
    font-size: 27px;
  }

  #rescribe {
    display: flex;
    flex: 1;
    padding-left: 6px;
    letter-spacing: 5px;
    font-size: 35px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }

  .featherIcon {
    width: 30px;
    height: 30px;
    padding-top: 3px;
    margin-right: 5px;
    margin-top: 6px;
    background-color: #32CBFF;
  }
 
  /*Collective styles - two-third layout*/
  .pageHeader {
    color: #4F3A5A;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    padding-left: 10%;
  }
  
  .pagePara {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    line-height: 200%;
    padding-left: 10%;
  }
  
  .sideLayoutOwl {
    width: 100%;
  }

  .twoThirdLayout {  
    display: flex;
    flex-wrap: wrap;
  }

  .mainLayout {
    flex: 65%;
  }
  
  .sideLayout {
    flex: 35%;
  }

  /*Hompage - Form layout*/
  .formElement {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
  }

  #subHeader {
    color: #4F3A5A;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 22px;
  }

  .textAInput {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: black;
    padding: 30px;
    border-radius: 20px;
    border: none;
    resize: none;
    font-size: 16px;
    margin-top: 3%;
  }

  .difficultyRow {
    display: flex;
    justify-content: center;
  }

  #sliderValue {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 30px;
    letter-spacing: 2px;
  }

  .buttonRow {
    display: flex;
    justify-content: center;
  }

  .genBtn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #7DCE82;
    border-radius: 50px;
    border: none;
    letter-spacing: 2px;
    margin-left: 5%;
    padding: 10px 0px 10px;
    width: 15%;
  }

  .clearBtn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #FF8360;
    border-radius: 50px;
    border: none;
    letter-spacing: 2px; 
    margin-right: 5%;
    padding: 10px 0px 10px;
    width: 15%;
  }

  /*Collective styles - Center layout*/
  .centerLayout {  
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .centerMainLayout, .centerLayoutImage  {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }

  .centerPageHeader {
    color: #4F3A5A;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
  }

  .centerPagePara {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    line-height: 200%;
  }

  /*Contact us page - icon/ images*/
  .contactIcons {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    width: 100%;
  }

  .centerLayoutOwl {
    width: 27%;
    border: blue solid 2px;
  }

  .emailIcon {
    width: 30px;
    height: 30px;
    margin: 10px 10px 0px 10px;
  }

  /*Log Response*/
  .pageHeaderLogR {
    color: #4F3A5A;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    padding-left: 5%;
  }

  .logPagePara {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    line-height: 200%;
    padding-left: 6%;
    padding-right: 6%;
  }

  /*Footer*/
  .footer {
    display: flex;
    flex: 1; 
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 10px;
  }

  .footer a {
    color: #4F3A5A;
    background-color: transparent;
  }

  /*Responsive layout*/
  @media screen and (max-width: 600px) {

    .header {
      flex-direction: column;  
    }

    .header a {
      padding-right: 0%;
    }

    .twoThirdLayout {
      flex-direction: column;
    }

    .mainLayout {
      padding-right: 10%;
    }

    .sideLayoutOwl {
      width: auto;
      float: right;
    }

    #rescribe {
      border-bottom: #4F3A5A solid 2px;
    }

    .centerLayout {
      padding-left: 10%;
      padding-right: 10%;
    }

    .contactIcons {
      padding-left: 10%;
      padding-right: 10%;
    }

    .contactIcons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;
    }

 
  }


